@model TestApplication.Models.UserTool

@using (Html.BeginForm("Save", "UserTool", FormMethod.Post, new { @class = "TestApplication.Models.User" }))
{
    @Html.EditorForModel()
    <div>
        <button type="submit" class="ui-dialog-buttonset">Save</button>
        @Html.ActionLink("Cancel", "All", "UserTool")
    </div>
}